body {
    height: auto;
    margin: 0;
    padding: 0;
    font-family: Montserrat, serif;
}
.container {
    height: 1000px;
    z-index: 100;
    position: relative;
}

.header {
    height: 1080px;
    width: 100%;
    position: relative;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 72.4%, #000000 93.75%),
        linear-gradient(180deg, #000000 0%, rgba(255, 255, 255, 0) 50%), url("../images/header.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media only screen and (max-width: 600px) {
    .header {
        background-image: url('../images/header-mobile.png');
    }
}

.logo {
    position: center;
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 50px;
}
.logo img {
    width: 100px;
    height: 100px;
    margin-right: 30px;
}
.HeaderText {
    display: flex;
    flex-direction: column;
}
.Main {
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.Sub {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.searchBar {
    display: block;
    margin-right: auto;
    margin-left: auto;
    background-color: #FFFFFF;
    width: 830px;
    height: 54px;
    opacity: 0.8;
    border-radius: 5px;

}
.searchBar img {
    padding: 10px;
    width: 34px;
    height: 34px;
    float: left;
}
.SearchText {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 54px;
    color: #B1B1B1;
    padding-left: 30px;
    float: left;
}

.HeaderText1 {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    text-shadow:
            -1px -1px 0 #000,
            0   -1px 0 #000,
            1px -1px 0 #000,
            1px  0   0 #000,
            1px  1px 0 #000,
            0    1px 0 #000,
            -1px  1px 0 #000,
            -1px  0   0 #000;
    width: 530px;
    height: 278px;
    position: absolute;
    left: 250px;
    top: 365px;
}

.HeaderText2 {
    position: absolute;
    width: 500px;
    height: 202px;
    left: 580px;
    top: 602px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #FFFFFF;
    text-shadow:
            -1px -1px 0 #000,
            0   -1px 0 #000,
            1px -1px 0 #000,
            1px  0   0 #000,
            1px  1px 0 #000,
            0    1px 0 #000,
            -1px  1px 0 #000,
            -1px  0   0 #000;

}

.Menu {
    background-color: #E47106;
    display: block;
    width: 1282px;
    height: 120px;
    position: absolute;
    bottom: 156px;
    left: 16.6%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 50px;
}

.Menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.Menu li {
    display: inline;
    padding-left: 58px;
    line-height: 120px;
}
.Menu a {
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-right: 30px !important;
    padding-left: 30px !important;
}