body {
    margin: 0;
    padding: 0;
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: 600;
}
.container {
    height: 1000px;
    z-index: 5;
    position: relative;

}

.header {
    height: 1080px;
    width: 100%;
    position: relative;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 72.4%, #000000 93.75%),
        linear-gradient(180deg, #000000 0%, rgba(255, 255, 255, 0) 50%), url("../images/header.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media only screen and (max-width: 600px) {
    .header {
        background-image: url('../images/header-mobile.png');
    }
}

.logo {
    position: center;
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 50px;
}
.logo img {
    width: 100px;
    height: 100px;
    margin-right: 30px;
}
.searchBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.HeaderText {
    display: flex;
    flex-direction: column;
}
.Main {
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.Sub {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}
.searchBar #site-search{
    padding: 10px;
    font-family: Montserrat,serif;
    font-weight: 600;
    display: block;
    margin-right: auto;
    margin-left: auto;
    background-color: #FFFFFF;
    width: 830px;
    height: 54px;
    opacity: 0.8;
    border: 1px solid #ccc;
}
.searchBar button {
    padding: 10px;
    width: 54px;
    height: 54px;
    background: #ddd;
    font-size: 18px;
    border: none;
    cursor: pointer;
}
.SearchText {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 54px;
    color: #B1B1B1;
    padding-left: 30px;
    float: left;
}

.HeaderText1 {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    text-shadow:
            -1px -1px 0 #000,
            0   -1px 0 #000,
            1px -1px 0 #000,
            1px  0   0 #000,
            1px  1px 0 #000,
            0    1px 0 #000,
            -1px  1px 0 #000,
            -1px  0   0 #000;
    width: 530px;
    height: 278px;
    position: absolute;
    left: 13%;
    top: 400px;
}

.HeaderText2 {
    position: absolute;
    width: 500px;
    height: 202px;
    left: 45%;
    top: 700px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #FFFFFF;
    text-shadow:
            -1px -1px 0 #000,
            0   -1px 0 #000,
            1px -1px 0 #000,
            1px  0   0 #000,
            1px  1px 0 #000,
            0    1px 0 #000,
            -1px  1px 0 #000,
            -1px  0   0 #000;

}

.Menu {
    z-index: 100;
    width: 100%;
    height: 120px;
    left: 16.6%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 50px;
}

.Menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.Menu li {
    display: inline;
    padding-right: 3%;
    padding-left: 3%;
    line-height: 120px;
}
.Menu a {
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

}

.Block1 {
    height: 960px;
    background: linear-gradient(180deg, #C9CED1 0%, rgba(201, 206, 209, 0.1) 100%);
    padding: 0;
    margin: 0;
}
.Block1 h1 {
    width: 100%; /* 1170px */
    height: 200px;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 78px;
    align-items: center;
    text-align: center;
    padding: 102px 0 54px;
    margin: 0;
    color: #624E4D;
}

.row {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 208%;
    /* or 208% */
    align-items: center;
    color: #624E4D;
}

.row ul {
    margin-top: 0;
}

.Block2 {
    height: 960px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.Block2 h1 {
    width: 100%; /* 1170px */
    height: 200px;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 78px;
    align-items: center;
    text-align: center;
    padding: 95px 0 54px;
    margin: 0;
    color: #624E4D;
}

.Block2 .col-5 {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 208%;

    display: flex;
    align-items: center;

    color: #624E4D;
}

.Block2 img {
    margin-bottom: 110px;
}
.Block2 .button {
    width: 600px;
    height: 125px;
    background: linear-gradient(180deg, rgba(253, 198, 3, 0.25) 0%, #DAA492 100%);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    text-align: center;

}
.Block2 .button a {
    text-decoration: none;
}
.Block2 .button a span {
    width: 600px;
    height: 70px;

    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 139%;
    align-items: center;

    color: #000000;
}

.Block3 {
    height: 960px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    position: relative;
}

.Block3 img {
    width: 100%;
    height: 960px;
    opacity: 0.4;
    position: absolute;
}
.Block3 h1 {
    width: 1170px;
    height: 195px;

    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 195px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 74px;
    color: #624E4D;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #423434;
}
.Block3 .row {
    margin-top: 70px;
}
.Block3 span {
    width: 1170px;
    height: 459px;
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    color: #4D4242;
}

.Block3 .button a {
    text-decoration: none;
}

.Block3 .button {
    height: 98px;
    position: relative;
    background: #484E5C;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

.Block3 a {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height: 98px;
}
.Block3 .button a span {
    height: 100px;
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;

}

.Footer {
    height: 640px;
    background: linear-gradient(0deg, rgba(49, 57, 69, 0.72), rgba(49, 57, 69, 0.72)), url("../images/footer.png");
}
.Footer .container {
    height: 440px;
    padding-top: 200px;
}
.Footer .row {
    margin: 30px;
}
.Footer h5 {
    width: 270px;
    height: 39px;
    margin: 0;
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 54px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
}

.Footer .Header {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
}

.Footer .Content {
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 23px;
    display: flex;
    align-items: center;

    color: #BDBDBD;
}
.Footer ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.Footer li {
    padding: 0;
    margin: 0;
    line-height: 23px;
    height: 23px;

}
.Footer a{
    text-decoration: none;
}

.CatalogHeader .container {
    height: 72px;
    display: flex;
    flex-direction: row;
}
.CatalogHeader {
    background-color: #4C5661;
    height: 72px;
    z-index: 100;
    position: relative;

}

.CatalogHeader .logo {
    padding: 11px;
    justify-content: left;
}

.CatalogHeader img {
    height: 50px;
    width: 50px;
    margin-right: 10px;
}

.CatalogHeader .Main {
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #FFFFFF;

    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.CatalogHeader form {
    width: 624px;
    padding: 9px 0 9px 27px;
}

.CatalogHeader .searchBar #site-search{
    padding: 10px;
    font-family: Montserrat,serif;
    font-weight: 600;
    display: block;
    margin-right: auto;
    margin-left: auto;
    background-color: #FFFFFF;
    width: 570px;
    height: 54px;
    opacity: 0.8;
    border: 1px solid #ccc;
}

.CatalogHeader .Icons {
    padding-top: 20px;
}
.CatalogHeader .Icons img{
    height: 35px;
    margin-left: 65px;
    margin-right: 0;
}

.background {
    height: 1080px;
    width: 100%;
    margin-top: -72px;
    position: fixed;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 72.4%, #000000 93.75%),
    linear-gradient(180deg, #000000 0%, rgba(255, 255, 255, 0) 50%), url("../images/header.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.content .container {
    height: 1300px;
    background-color: #FFFFFF;
    z-index: 1;
    padding: 0;
}
.content {
    position: relative;
}

.Footer {
    position: relative;
}

.Banner {
    width: 100%;
    height: 160px;
    background: #FBFBFB;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;

    font-family: Montserrat,serif;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 160px;
    z-index: 5;
    color: #000000;
}

aside {
    width: 273px;
    height: 1140px;
    background-color: #FBFBFB;
    z-index: 4;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

aside span {
    font-size: 40px;
    line-height: 49px;
    align-items: center;
    margin: 20px 30px;
}

.GroupName {
    font-size: 24px;
    line-height: 29px;
    padding-left: 30px;
    margin-bottom: 15px;
}

.checkbox {
    margin: 0 0px 0 0;
}

.Option span {
    font-size: 16px;
    line-height: 29px;
    align-items: baseline;
    margin-left: 20px;
}
.Option {
    margin-bottom: 5px;
}
.Options {
    height: 330px;
    overflow-x: hidden;
    overflow-y: auto;
}
.Author .Options {
    height: 230px;
}
.PriceControl {
    display: flex;
    flex-direction: row;
}
.input-text {
    width:70px;
    height: 30px;
    border-radius: 5px;
}

.Enter {
    line-height: 30px;
    height: 36px;
}
.control-label{
    height: 36px;
    line-height: 36px;
    margin: 6px;
    font-size: 16px;
}
.commit-button {
    background: #BABFBA;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;
    width: 44px;
    margin-left:14px;
}

.commit-button a {
    text-decoration: none;
}
.commit-button span{
    line-height: 36px;
    height: 36px;
    font-size: 18px;
    align-items: center;
    text-align: center;
    margin-left: 8px;
    margin-right: 8px;
    color: #000000;
}

.Page {
    display: flex;
}

.Page_section {
    margin-left: 100px;
}
.Page_section h1{
    width: 702px;
    height: 94px;

    font-size: 44px;
    line-height: 54px;
    text-align: center;
    margin-bottom: 0;
    color: #000000;
}

.Book {
    width: 100px;
    height: 239px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    padding: 20px 20px 0;
    margin: 0 15px 30px;
}

.Book img {
    width: 100px;
    height: 150px;
}

.Book .name {
    font-size: 36px;
    line-height: 36px;
}

.Book .author {
    font-size: 10px;
    line-height: 12px;
}

.Book .price {
    font-size: 14px;
    line-height: 17px;
}

.rw {
    display: flex;
    flex-direction: row;
}

.Pages {
    text-align: center;
    margin-top: 30px;
}
.Pages a{
    display: inline-block;
    text-decoration: none;
    font-size: 24px;
    line-height: 50px;
    color: #4C5661;
    margin-right: 25px;
}

#Active {
    width: 50px;
    height: 50px;
    font-weight: 700;
    color: #FFFFFF;
    background: #4C5661;
    border-radius: 60px;
}

.page {
    padding-left: 100px;
}

.page img {
    /*margin-top: 140px;*/
}

.page .info .name {
    font-size: 48px;
    line-height: 140px;
}

.page .info .separator {
    font-size: 48px;
    line-height: 140px;
}

.page .info .author {
    font-size: 36px;
    line-height: 140px;
}

.info {
    display: flex;
}

.Column {
    margin-left: auto;
    margin-right: auto;
}

.infoBar {
    width: 640px;
    height: 100px;
    background: #FBFBFB;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
}

.infoTab {
    width: 160px;
    border: 1px solid #E0D6D6;
    box-sizing: border-box;
    line-height: 100px;
    text-align: center;
}

.Price {
    font-size: 36px;
}

.AddToCart, .Availability {
    font-size: 14px;
}

.AddToCart button {
    width: 130px;
    height: 40px;
    background: #FF9900;
    border-radius: 6px;
}

.AddToCart button a {
    font-size: 18px;
    text-decoration: none;
    color: #FFFFFF;
}

.Text {
    margin-top: 75px;
}
.Text span {
    font-size: 24px;
    line-height: 40px;
}
.Text p {
    width: 640px;
    font-size: 18px;
    line-height: 30px;
}

.Categories {
    width: 860px;
    height: 60px;
    background: #FBFBFB;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}

.Category {
    width: 215px;
    border: 1px solid #E0D6D6;
    box-sizing: border-box;
    line-height: 60px;
    text-align: center;
    font-size: 18px;
}
.Page1 {
    margin-top: 70px;
}
.Page1 .col-2, .Page1 .col-md-auto {
    font-size: 18px;
    line-height: 50px;
    color: #000000;
}

#infoPage {
    height: 1900px;
}

.LastSeen {
    margin-top: 60px;
}

.LastSeen span {
    font-size: 20px;
    line-height: 50px;
}