body {
    height: auto;
    margin: 0;
    padding: 0;
    font-family: Montserrat, serif;
}
.container {
    height: 1000px;
    z-index: 5;
    position: relative;

}

.header {
    height: 1080px;
    width: 100%;
    position: relative;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 72.4%, #000000 93.75%),
        linear-gradient(180deg, #000000 0%, rgba(255, 255, 255, 0) 50%), url("../images/header.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media only screen and (max-width: 600px) {
    .header {
        background-image: url('../images/header-mobile.png');
    }
}

.logo {
    position: center;
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 50px;
}
.logo img {
    width: 100px;
    height: 100px;
    margin-right: 30px;
}
.HeaderText {
    display: flex;
    flex-direction: column;
}
.Main {
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.Sub {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.searchBar {
    display: block;
    margin-right: auto;
    margin-left: auto;
    background-color: #FFFFFF;
    width: 830px;
    height: 54px;
    opacity: 0.8;
    border-radius: 5px;

}
.searchBar img {
    padding: 10px;
    width: 34px;
    height: 34px;
    float: left;
}
.SearchText {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 54px;
    color: #B1B1B1;
    padding-left: 30px;
    float: left;
}

.HeaderText1 {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    text-shadow:
            -1px -1px 0 #000,
            0   -1px 0 #000,
            1px -1px 0 #000,
            1px  0   0 #000,
            1px  1px 0 #000,
            0    1px 0 #000,
            -1px  1px 0 #000,
            -1px  0   0 #000;
    width: 530px;
    height: 278px;
    position: absolute;
    left: 250px;
    top: 365px;
}

.HeaderText2 {
    position: absolute;
    width: 500px;
    height: 202px;
    left: 580px;
    top: 602px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #FFFFFF;
    text-shadow:
            -1px -1px 0 #000,
            0   -1px 0 #000,
            1px -1px 0 #000,
            1px  0   0 #000,
            1px  1px 0 #000,
            0    1px 0 #000,
            -1px  1px 0 #000,
            -1px  0   0 #000;

}

.Menu {
    z-index: 100;
    background-color: #E47106;
    display: block;
    width: 1282px;
    height: 120px;
    position: absolute;
    bottom: 156px;
    left: 16.6%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 50px;
}

.Menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.Menu li {
    display: inline;
    padding-left: 58px;
    line-height: 120px;
}
.Menu a {
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    padding-right: 30px !important;
    padding-left: 30px !important;
}

.Block1 {
    height: 960px;
    background: linear-gradient(180deg, #C9CED1 0%, rgba(201, 206, 209, 0.1) 100%);
    padding: 0;
    margin: 0;
}
.Block1 h1 {
    width: 100%; /* 1170px */
    height: 200px;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 78px;
    align-items: center;
    text-align: center;
    padding: 102px 0 54px;
    margin: 0;
    color: #624E4D;
}

.row {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 208%;
    /* or 208% */
    align-items: center;
    color: #624E4D;
}

.row ul {
    margin-top: 0;
}

.Block2 {
    height: 960px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.Block2 h1 {
    width: 100%; /* 1170px */
    height: 200px;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 78px;
    align-items: center;
    text-align: center;
    padding: 95px 0 54px;
    margin: 0;
    color: #624E4D;
}

.Block2 .col-5 {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 50px;
    /* or 208% */

    display: flex;
    align-items: center;

    color: #624E4D;
}

.Block2 img {
    margin-bottom: 110px;
}
.Block2 .button {
    width: 600px;
    height: 125px;
    background: linear-gradient(180deg, rgba(253, 198, 3, 0.25) 0%, #DAA492 100%);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    text-align: center;

}
.Block2 .button a {
    text-decoration: none;
}
.Block2 .button a span {
    width: 600px;
    height: 70px;

    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 125px;
    /* or 139% */
    align-items: center;

    color: #000000;
}

.Block3 {
    height: 960px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    position: relative;
}

.Block3 img {
    width: 100%;
    height: 960px;
    opacity: 0.4;
    position: absolute;
}
.Block3 h1 {
    width: 1170px;
    height: 195px;

    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 195px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 74px;
    color: #624E4D;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #423434;
}
.Block3 .row {
    margin-top: 70px;
}
.Block3 span {
    width: 1170px;
    height: 459px;
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    color: #4D4242;
}

.Block3 .button a {
    text-decoration: none;
}

.Block3 .button {
    height: 98px;
    position: relative;
    background: #484E5C;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

.Block3 a {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height: 98px;
}
.Block3 .button a span {
    height: 100px;
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;

}

.Footer {
    height: 640px;
    background: linear-gradient(0deg, rgba(49, 57, 69, 0.72), rgba(49, 57, 69, 0.72)), url("../images/footer.png");
}
.Footer .container {
    height: 640px;
}
.Footer .row {
    padding-top: 100px;
}
.Footer h5 {
    width: 270px;
    height: 39px;
    left: 375px;
    top: 4162px;

    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 54px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
}